div.album {
    margin-bottom: 30px;
}

div.album div.photos {
    margin-bottom: 5px;
}

div.album div.photos div.cover {
    margin-bottom: 5px;
}

div.album div.photos div.thumbs {
    display: none;
}

div.album div.thumbs ul {
    display: flex;
    justify-content: space-between;
}

div.album div.thumbs ul li {
    width: 19%;
}

@media (min-width: 900px) {
    div.album {
        margin-bottom: 60px;
    }

    div.album div.photos {
        margin-bottom: 10px;
    }

    div.album div.photos div.cover {
        margin-bottom: 10px;
    }

    div.album div.photos div.thumbs {
        display: block;
    }
}