<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.MetaTitle}}</title>

    <link rel="stylesheet" href="/static/simple-grid.min.css">
    <link rel="stylesheet" href="/static/home.css">

    <meta property="og:url" content="{{.SiteUrl}}" />
    <meta property="og:title" content="{{.MetaTitle}}" />
    <meta property="og:image" content="{{.OgImageUrl}}" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="site-title">{{.SiteTitle}}</h1>
                <h2 class="album-title">{{.AlbumTitle}}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="images">
                    {{range .LoadAtStartImageUrls}}
                    <li>
                        <img src="{{.}}">
                    </li>
                    {{end}}
                    {{range .LazyLoadImageUrls}}
                    <li>
                        <img class="lazy" src="/static/placeholder.png" data-echo="{{.}}">
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p class="right built-with">Built using the <a href="https://github.com/agile-leaf/50mm">50mm gallery software</a> by
                    <a href="https://www.agileleaf.com">Agile Leaf</a>.</p>
            </div>
        </div>
    </div>

    <script type="application/javascript" src="/static/echo.min.js"></script>
    <script type="application/javascript">
        echo.init({
            offset: 10000,
            throttle: 250,
            debounce: false,
            unload: true
        })
    </script>
</body>
</html>