<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.MetaTitle}}</title>

    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/index.css">

    <meta name="viewport" content="width=device-width">
    <meta property="og:url" content="{{.CanonicalUrl}}" />
    <meta property="og:title" content="{{.MetaTitle}}" />
    {{if .Albums}}
    {{with $firstAlbum := index .Albums 0}}
    <meta property="og:image" content="{{$firstAlbum.GetCoverPhotoForTemplate.GetPhotoForWidth 800}}" />
    {{end}}
    {{end}}

</head>
<body>
    <div class="container">
        <div class="header">
            <h1>
                <a href="{{.SiteUrl}}">{{.SiteTitle}}</a>
            </h1>
        </div>

        <div class="row">
            {{range .Albums}}
            <div class="album">
                <div class="album-header">
                    <div class="album-title">
                        <h2>{{.AlbumTitle}}</h2>
                    </div>
                    <div class="lg-only">
                        <a href="{{.GetCanonicalUrl}}">View All</a>
                    </div>
                </div>
                <div class="photos">
                    <div class="cover">
                        <img src="{{.GetCoverPhotoForTemplate.GetPhotoForWidth 800}}" />
                    </div>
                    <div class="thumbs">
                        <ul>
                            {{range .GetThumbnailPhotosForTemplate}}
                            <li><img src="{{.GetThumbnailForWidthAndHeight 150 100}}"></li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div class="view-all-bottom">
                    <a href="{{.GetCanonicalUrl}}">View All</a>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>